.searchBar {
  background-color: #d0b8a8;
  width: fit-content;
  margin: 2.5rem auto 4rem auto;
  padding: 0.5rem;
  border-radius: 5px;
}

.searchBar form {
  position: relative; /* 👈 relative kiya */
  display: flex;
  align-items: center;
}

.searchBar input {
  background-color: #f0f0f0;
  outline: none;
  border: none;
  padding: 8px 30px 8px 8px; /* 👈 right padding diya */
  border-radius: 5px;
}

.searchBar span {
  position: absolute; /* 👈 ab absolute */
  right: 65px; /* button ke liye space chhod diya */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.searchBar span:hover {
  color: red;
}

.searchBar button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #0f52ba;
  color: #fff;
  padding: 6px 12px;
  margin-left: 8px;
  cursor: pointer;
}
